:root {
	// COLORS
	--global-themeColor: #779ecb;
	--global-themeColor-notification: rgb(255, 202, 0, 0.6);
	--global-backgroundColor: #f7f7f7;
	--global-backgroundColor-card: #ffffff;
	--global-themeColor-dark: #07070e;
	--global-themeColor-light: #a3a3a3;

	// FONT-WEIGHTS
	--fontWeight-light: 200;
	--fontWeight-regular: 400;
	--fontWeight-bold: 600;

	// GUTTER
	--gutter: 8px;
}
